body,html{
    height: 100%;
    background-image: url("../photo/WP3B9W3Q.jpg");
    background-attachment: fixed;
}

/* remove outer padding */
.main .row{
    padding: 0px;
    margin: 0px;
}

/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 0px;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }


    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 200px;
        height: 100%;
        /*margin-left: -160px;*/
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;  !!! */
    nav.sidebar li {
        width: 100%;
    }
  }


nav:hover .forAnimate{
    opacity: 1;
}

#wtf {
    position: relative;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */

    min-height: 1800px;
}

.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}

#hey {
    position: fixed;
}

.container {
    border-top: solid #000000 2px;
    padding-left: 130px;
    text-align: justify;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.diabList {
    text-decoration: underline;
    padding-top: 8px;
}

.shadowText {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
}

#mainUnlogged {
    margin-left: 32em;
    width: 250px;
    border: solid 2px darkblue;
    padding: 25px;
    text-align: center;
}

#mainUnlogged a button:first-child {
    margin-bottom: 10px;
}

#mainer {
    margin-left: 16.2em;
    width: 70%;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 0px;

    border-radius: 20px;
    border-top-left-radius: 0;
}

#mainer:first-child {
    margin-top: 20px;
}

#fotka {
    background-color: red;
    height: 180px;
}

#rest {
    height: 180px;
}

#date {
    background-color: salmon;
    height: 30px;
}

#author {
    background-color: salmon;
    height: 30px;
}

#text {
    background-color: #ffff00;
    height: 120px;
    width: 94%;
    margin-left: 16px;
}

#mail {
    background-color: purple;
    height: 30px;
}

.commentButtonDiv {
    padding-left: 50px;
    background-color: greenyellow;
    z-index: 100;
}

.commentButtonDiv p {
    padding-right: 0px;
}

#wtf {
    background-color: #1b6d85;
    height: 10px;
}

#text2 {
    background-color: deeppink;
    height: 120px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#commentAdd {
    background-color: purple;
    height: 30px;
}

#commentHeader {
    background-color: salmon;
    height: 30px;
}

#commentText {
    background-color: #ffff00;
    height: 120px;
    overflow: auto;
    font-size: 80%;
}
